//For multiple protocols and connections
exports.settings = {
    'zh-rc': 'mysql://YOURHOST:YOURPORT/YOURDB?user=YOURUSER&password=YOURPASSWORD',
    'zh-wiki': 'mysql://YOURHOST:YOURPORT/YOURDB?user=YOURUSER&password=YOURPASSWORD',
};
