body {
    background: #000;
    color: #fff;
    font: 300 100.1% Fontin-Sans, "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
}
h2,h3,h4,h5 {
    color: #fff;
}
a {
    color: #fff;
}
.container {
}
#langs {
}
#title {
}
#changes {
}
#querybox {
}
#helpus {
}
#result {
}
#pages {
}
#team {
}

