<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ultrafilter.org</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
    <h2 id="title">Ultrafilter</h2>
    <p>[&nbsp;
    <% for(var ind in langs) { var l = langs[ind]; %>
      <a href="/<%= l %>"><%= l %></a>&nbsp;
    <% } %>
    ]</p>
    <p id="team">by <a href="http://github.com/mountain/ultrafilter">Ultrafilter</a> for a better <a href="http://www.wikipedia.org/">Wikipedia</a> community.</p>
</body>
</html>

